.imgFood{
    width: 4rem;
    height: 3rem;
    display: flex;
    margin: auto;
}
.imgF{
    width: 100%;
    object-fit: cover;
}

/* //pedidos */
.navFilter{
    position: fixed;
}
.imgFoodP{
    height: 3rem;
    display: flex;
    margin: auto;
}
.tablePedidos{
    width: 35% !important;
    position: fixed;
}